@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&display=swap');
.Header{
    margin: 10rem 0 0 0;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 2px 0px 0 #6a283b;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #dd577d);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    display: inline-flex;
    user-select: none;
}

#Comentario{
    margin: 0;
    height: calc(100vh - 40vh);
    margin-left: calc(100vw - 85vw);
    display: grid;
    grid-template-areas:
    "head head head"
    "nav  main main"
    "nav bt1 bt2";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 0.5fr 0.5fr 0.3fr;
    width: 100vw;
    max-width:calc(100vw - 30vw);
    gap:8px;
    background-color: rgba(240, 248, 255, 0);
}

#Comentario>.Emote{
    grid-area: head;
    background-color: rgba(0, 0, 0, 0.299);
    display: inline-flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.Emote>div{
width: 70%;
margin: 0 3rem 0 3rem;
border-radius: 100%;
}
.Emote>div>p{
font-size: 4rem;
transition: 300ms;
cursor: pointer;
}
.Emote>div>p:hover{
transform: scale(1.5);
}

#Comentario>.Paragrafo{
    grid-area: nav;
    background-color: #ff6b4a;
    user-select: none;
    border-radius: 4px;
}
.Paragrafo>h1, p{
    padding: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    text-shadow: 0 2px 0 #a33f29;
}
.Paragrafo>p{
    font-size: 1rem;
}
.Paragrafo>h1{
    font-size: 2rem;
}
#Comentario>.Feedback{
    grid-area: main;
    background-color: rgba(0, 255, 200, 0.524);
    user-select: none;
    border-radius: 4px;
}

textarea{
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f800;
    font-size: 16px;
    resize: none;
    text-shadow: 0 2px 0 #126868;
}


#Comentario>.btn1{
    grid-area: bt1;
    background-color: rgb(255, 0, 195);
    user-select: none;
    border-radius: 4px;
}
#Comentario>.btn2{
    grid-area: bt2;
    background-color: rgb(255, 157, 0);
    user-select: none;
    border-radius: 4px;
}