@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&display=swap');
.Header{
    margin: 10rem 0 0 0;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 2px 0px 0 #6a283b;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #dd577d);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    display: inline-flex;
    user-select: none;
}

#Comentario{
    margin: 0;
    height: calc(100vh - 40vh);
    margin-left: calc(100vw - 85vw);
    display: grid;
    grid-template-areas:
    "head head head"
    "nav  main main"
    "nav bt1 bt2";
    grid-template-rows: 0.5fr 1fr 0.25fr;
    grid-template-columns: 0.5fr 0.5fr 0.3fr;
    width: 100vw;
    max-width:calc(100vw - 30vw);
    gap:8px;
    background-color: hsla(208, 100%, 97%, 0);
}

#Comentario>.Emote{
    grid-area: head;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(0, 0, 0, 0.14);
    display: inline-flex;
    user-select: none;
    align-items: center;
    justify-content: center;
}
.Emote>div{
width: 70%;
margin: 0 3rem 0 3rem;
border-radius: 100%;
}
.Emote>div>p{
font-size: 4rem;
transition: 300ms;
cursor: pointer;
}
.Emote>div>p:hover{
transform: scale(1.5);
}

#Comentario>.Paragrafo{
    grid-area: nav;
    background: rgba(255, 107, 74, 0.809);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 107, 74, 0.14);
    user-select: none;
   
}
.Paragrafo>h1, p{
    padding: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    text-shadow: 0 2px 0 #a33f29;
}
.Paragrafo>p{
    font-size: 1rem;
}
.Paragrafo>h1{
    font-size: 2rem;
}
#Comentario>.Feedback{
    grid-area: main;
    background: rgba(0, 255, 200, 0.5254901960784314);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(0, 255, 200, 0.14);
    user-select: none;
}

textarea{
    border: 1px solid rgba(0, 255, 200, 0.14);
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #f8f8f800;
    font-size: 16px;
    resize: none;
    text-shadow: 0 2px 0 #126868;
}


#Comentario>.btn1{
    grid-area: bt1;
    background: rgba(108, 183, 217, 0.6666666666666666);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(108, 183, 217, 0.14);
    user-select: none;
    text-align: center;
}

re-captcha{
    display: inline-block;
}
#Comentario>.btn2{
    grid-area: bt2;
    background: #ff9d007c;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 157, 0, 0.14);
    user-select: none;
}

.btn2>button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    border-radius: 16px;
    transition: 400ms ease-in-out;
}
.btn2> button:hover{
    background: #ff9d00;
    box-shadow:  34px 34px 69px #b56f00,
             -34px -34px 69px #ffcb00;

}
@media screen and (max-width: 768px) {
    #Comentario{
        grid-template-areas:
        "nav nav"
        "head head"
        "main main"
        "bt1 bt1"
        "bt2  bt2";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0.5fr 0.5fr;
        max-width:calc(100vw - 70vw);
        gap: 0;
        margin-left: calc(100vw - 95vw);
    }

    .Emote>div>p{
        font-size: 1rem;
        }
    .Emote>div{
        width: 10%;
        margin: 0 1rem 0 1rem;
        border-radius: 100%;
    }
    .Paragrafo>p{
        font-size: 0.5rem;
        padding-top: 1.5rem;
    }
    .Paragrafo>h1{
        padding-top: 1rem;
        font-size: 1.5rem;
    }
    .Header{
        font-size: 1rem;
        margin-left: calc(100vw - 98vw);
        margin-top: 4rem;
    }
    re-captcha{
        transform: scale(0.7);
        justify-content: center;
    }
    .Feedback{
        margin-left: 0;
        width: calc(100vw - 20vw);
    }
}   