<head>
     
</head>

<div id="Comentario">
<div class="Emote">
    <div><p>😭</p></div>
    <div><p>😞</p></div>
    <div><p>😐</p></div>
    <div><p>😀</p></div>
    <div><p>😁</p></div>
</div>
<div class="Paragrafo">
    <h1>Seu Feedback é Valioso para Mim!</h1>
    <p>Agradeço por visitar meu projeto de portfólio web. Sua opinião é incrivelmente valiosa para mim, 
        pois busco aprimorar e destacar meu trabalho de maneira significativa.
    </p>
    <p>Por favor, reserve um momento para compartilhar suas impressões sobre o projeto. Seu feedback me proporciona insights valiosos sobre o que está funcionando bem e como posso melhorar ainda mais.</p>
</div>
<div class="Feedback"> 
     <textarea id="w3review" name="w3review" rows="4" cols="50">
  Escreva aqui, sua experiência com este site.
</textarea>
</div>
<div class="btn1"></div>
<div class="btn2"></div>
</div>
