<div class="VRIDO">
    <h1 class="VRIDOMINI">Trigger (Desencadeador):</h1>
    <p>O trigger é um evento que inicia uma animação. Pode ser acionado por ações do usuário, como cliques, passagens do mouse
    ou pressionamento de teclas, ou pode ser desencadeado automaticamente em resposta a eventos específicos na página web.
    Os triggers são os gatilhos que ativam as animações, dando vida aos elementos da página.</p>
</div>
<div class="VRIDO">
    <h1 class="VRIDOMINI">State (Estado):</h1>
    <p>Os estados representam as diferentes fases de uma animação. Cada estado descreve a aparência e o comportamento de um
    elemento em um determinado momento da animação. Por exemplo, em uma animação de transição de uma caixa de tamanho normal
    para uma caixa ampliada, haveria dois estados: o estado inicial (tamanho normal) e o estado final (tamanho ampliado). Os
    estados definem as propriedades CSS, como posição, cor, tamanho e rotação, que um elemento terá em cada momento da
    animação.</p>
</div>
<div class="VRIDO">
    <h1 class="VRIDOMINI">Style (Estilo):</h1>
    <p>O style é a definição das propriedades CSS que determinam como um elemento deve aparecer em um determinado estado. Por
    exemplo, no estado inicial de uma animação, o estilo pode especificar a cor de fundo, a posição e a opacidade de um
    elemento. O style define como um elemento deve ser estilizado em um estado específico da animação.</p>
</div>
<div class="VRIDO">
    <h1 class="VRIDOMINI">Animate (Animar):</h1>
    <p>O animate é o mecanismo que altera as propriedades de um elemento ao longo do tempo, criando a animação propriamente
    dita. Ele define como as propriedades CSS devem transitar de um estado para outro. Por exemplo, no caso de uma animação
    de fade-in, o animate pode suavemente alterar a opacidade de 0 (invisível) para 1 (totalmente visível) ao longo de um
    período de tempo específico. O animate é responsável por criar a ilusão de movimento e mudança na animação.</p>

</div>
<div class="VRIDO">
    <h1 class="VRIDOMINI">Transition (Transição):</h1>
    <p>A transition descreve como uma animação passa de um estado para outro. Ela define as propriedades CSS que devem ser
    animadas, a duração da animação, o tipo de função de temporização (como linear, ease-in, ease-out, etc.) e atrasos, se
    necessário. A transition é responsável por controlar a suavidade e a velocidade da animação durante a mudança de estado.</p>

</div>
