@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.VRIDO {
    margin-top: 3rem;
    width: auto;
    text-align: center;
    /*EFEITO VIDRO*/
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    display: flex;
    text-wrap: balance;
    margin-right: 22rem;
    margin-bottom: 3rem;
    perspective: 60rem;
    transition: 400ms, scale 200ms;
    max-height: 30rem;
}
.VRIDO:hover{
    rotate: y 10deg;
    scale: 1.05;
}
.VRIDO p{
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    text-shadow: 0 2px 0 #4eafcf;
    
}
.VRIDOMINI{
            background: radial-gradient(circle, rgba(0, 254, 216, 0.652) 0%, rgba(0, 246, 254, 0.269) 34%, rgba(0, 213, 255, 0.315) 100%);
            border-radius: 20px 100px / 120px 100px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2.7px);
            -webkit-backdrop-filter: blur(2.7px);
            border: 1px solid rgba(0, 254, 216, 0.23);
            padding: 0;
            padding-right: min(15rem, 10%);
            padding-left: min(15rem, 10%);
            margin: 2rem 1rem 3rem 1rem;
            font-weight: 900;
            font-size: 1.7rem;
            font-family: 'Work Sans', sans-serif;
            display: flex;
            align-items: center;
            text-shadow: 0 2px 0 #4eafcf;
}

@media screen and (max-width: 768px) {
    .VRIDO{
        display: block;
        margin-right: 7rem;
        padding: 1rem;

    }
    .VRIDO p{
        font-size: 4vw;
        font-family: 'Work Sans', sans-serif;
        font-weight: 900;
        text-shadow: 0 2px 0 #4eafcf;
        columns: auto 20rem;
        text-align: center;
    }
    .VRIDOMINI{
        text-wrap: balance;
        text-align: center;
        display: block;
        font-size: 6vw;
        padding-right: min(25rem, 10%);
        padding-left: min(25rem, 10%);
        padding: 2rem;
    }
}
