@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


#v1{
    margin-top: 12rem;
}

.VRIDO {
    margin-top: 3rem;
    width: auto;
    text-align: center;
    /*EFEITO VIDRO*/
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    display: flex;
    text-wrap: balance;
    margin-right: 22rem;
    margin-bottom: 3rem;
    perspective: 60rem;
    transition: 400ms, scale 200ms;
    max-height: fit-content;
    margin-left: 22em;
}
.VRIDO:hover{
    rotate: y 10deg;
    scale: 1.05;
}
.VRIDO p{
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    text-shadow: 0 2px 0 #4eafcf;
    columns: auto 40rem;
    text-align: center;
    overflow-y:auto;
    padding: 2rem;
    padding-left: 0;
}
.VRIDOMINI{
            background: radial-gradient(circle, rgba(0, 254, 216, 0.652) 0%, rgba(0, 246, 254, 0.269) 34%, rgba(0, 213, 255, 0.315) 100%);
            border-radius: 20px 100px / 120px 100px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2.7px);
            -webkit-backdrop-filter: blur(2.7px);
            border: 1px solid rgba(0, 254, 216, 0.23);
            padding: 0;
            padding-top: min(4rem, 10%);
            padding-bottom: min(4rem, 10%);
            padding-right: min(15rem, 10%);
            padding-left: min(15rem, 10%);
            max-height: 15rem;
            margin: auto 1rem auto 1rem;
            font-weight: 900;
            font-size: 1.7rem;
            font-family: 'Work Sans', sans-serif;
            display: flex;
            align-items: center;
            text-shadow: 0 2px 0 #4eafcf;
}
.SobreH1{  position: relative;
    left: 50%;
    right: 0;
    text-align: center;
    transform: translateY(-110px);
    }
    .SobreH1 h1{
    padding-top: 3%;
    font-family: 'Work Sans', sans-serif;
    font-size: 7.4rem;
    font-weight: 900;
    user-select: none; 
    text-shadow: -2px 2px 10px rgba(1, 112, 120, 0),1px 3px 4px rgba(1, 112, 120, 1);
    position: absolute;
    transform: translate(-50%, -50%);
    text-decoration: underline #03eeffb6 10px;
    }
    .SobreH1 h1:nth-child(1){
        color: transparent;
        /*-webkit-text-stroke: 2px #03eeffb6;*/
    }
    .SobreH1 h1:nth-child(2){
        color: #03eeffb6;
        animation: animate 6s ease-in-out infinite;
    }
    
    @keyframes animate {
        0%,
        100% {
          clip-path: polygon(
            0% 55%,
            26% 54%,
            43% 60%,
            64% 70%,
            80% 71%,
            94% 69%,
            100% 62%,
            100% 110%,
            0% 110%
          );
        }
      
        50% {
          clip-path: polygon(
            0% 60%,
            25% 75%,
            44% 76%,
            61% 72%,
            77% 60%,
            94% 55%,
            110% 56%,
            110% 110%,
            0% 100%
          );
        }
      }
    
@media screen and (max-width: 1200px) {
    .VRIDO{
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .VRIDO{
        display: block;
        margin-right: 2em;
        padding: 1rem;
        margin-left: 2em;
    }

    
    .SobreH1 h1{
        font-size: 5.4rem;
    }
    .VRIDO p{
        font-size: 4vw;
        font-family: 'Work Sans', sans-serif;
        font-weight: 900;
        text-shadow: 0 2px 0 #4eafcf;
        columns: auto 20rem;
        text-align: center;
        text-overflow: clip;
        padding: 0;
    }
    .VRIDOMINI{
        text-wrap: balance;
        text-align: center;
        display: block;
        font-size: 6vw;
        padding-right: min(25rem, 10%);
        padding-left: min(25rem, 10%);
        padding: 2rem;
    }
}
