
<app-sidebar class="Sidebar" [opcao]="select" (MudancaSelect)="selecionar($event)" [@Sidebar]="texto"></app-sidebar>



  <div *ngIf="select == 1" [@myInsertRemoveTrigger] class="paginas">  
    <div id="message" [@fadeState]="estado" class="noClick">
      <img [src]="'https://angular.io/assets/images/logos/angular/logo-nav@2x.png'" >
      <img [src]="'https://djhjvd1v9hhoj.cloudfront.net/Angular%20Hologram.gif'" alt="Angular Logo" class="logo_gif"
      (click)="goToLink('https://www.youtube.com/watch?v=ra5qNKNc95U')">

      <div class="orbita">
        <div class="Cm1"><div class="bola1"></div></div>
        <div class="Cm2"><div class="bola2"></div></div>
        <div class="Cm3"><div class="bola3"></div></div>
        <div class="Cm4"><div class="bola4"></div></div>
      </div>
    </div>
    

    <button (click)="trocar();flutuaranimation()" [@Cor]="texto" id="botaocomeco" [ngClass]="flutuar === 'sim' ? 'flutuar' : 'inactive'"><p>{{texto}}</p></button>
 

  </div>

  <div *ngIf="select == 2" [@myInsertRemoveTrigger]>
    <app-sobre id="VRIDO"></app-sobre>
  </div>

  <div *ngIf="select == 3" [@myInsertRemoveTrigger]>

  </div>

  <div *ngIf="select == 4" [@myInsertRemoveTrigger]>

  </div>


        



