
<app-sidebar class="Sidebar" [opcao]="select" (MudancaSelect)="selecionar($event)" [@Sidebar]="texto"></app-sidebar>



  <div *ngIf="select == 1" [@myInsertRemoveTrigger] class="paginas">  
    <div id="message" [@fadeState]="estado" class="noClick">
      <img [src]="'https://angular.io/assets/images/logos/angular/logo-nav@2x.png'" >
      <img [src]="'https://djhjvd1v9hhoj.cloudfront.net/Angular%20Hologram.gif'" alt="Angular Logo" class="logo_gif"
      (click)="goToLink('https://www.youtube.com/watch?v=ra5qNKNc95U')">

      <div class="orbita">
        <div class="Cm1"><div class="bola1" (click)="goToLink('https://github.com/FelipeQDC')"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt=""></div></div>
        <div class="Cm2"><div class="bola2" (click)="goToLink('https://wa.me/5513991101180')"><img src="../assets/whats.png" alt=""></div></div>
        <div class="Cm3"><div class="bola3" (click)="goToLink('https://br.linkedin.com/in/felipe-queiroz-da-costa-613a99248?trk=people-guest_people_search-card')"><img src="../assets/Linkedin.png" alt=""></div></div>
        <div class="Cm4"><div class="bola4" (click)="goToLink('https://instagram.com/q_felipe?igshid=OGQ5ZDc2ODk2ZA==')"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt=""></div></div>
      </div>
    </div>
    

    <button (click)="trocar();flutuaranimation()" [@Cor]="texto" id="botaocomeco" [ngClass]="flutuar === 'sim' ? 'flutuar' : 'inactive'"><p>{{texto}}</p></button>
 

  </div>

  <div *ngIf="select == 2" [@myInsertRemoveTrigger]>
    <app-sobre id="VRIDO"></app-sobre>
  </div>

  <div *ngIf="select == 3" [@myInsertRemoveTrigger]>
    <app-exemplos></app-exemplos>
  </div>

  <div *ngIf="select == 4" [@myInsertRemoveTrigger]>
    <app-feedback></app-feedback>
  </div>


        



