@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.Menu button{
    
  display: block;
background-color: rgba(0, 0, 0, 0);
border: none;
padding:30px;
padding-left: 20px;
margin-left: 0;
border-radius: 0 20px 20px 0;
transition: 300ms ease-in-out;
}
.Bola{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 19% 81% 75% 25% / 0% 51% 49% 1%;
  background-image: linear-gradient(to right, #ffffff4c , #ffffff);
  box-shadow:  20px 20px 42px #818181,
             -20px -20px 42px #ffffff;
  padding: 0 0 0.3rem 0.3rem;
  margin: 0 0 0.3rem 0.5rem;
  transform: translateY(7.5px);
}
p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    display: inline-block;
    
}

button:hover{
    transition:400ms ease-in-out;
    transform: translateX(15%);
    background: linear-gradient(to right, hsla(195, 78%, 54%, 0), rgba(123, 244, 123, 0.533));
    box-shadow:  0px 0px 8px -2px #8dff8d,
             -20px 0px 8px -2px #137c99;
}
.Menu:hover > button:not(:hover){
  opacity: 0.5;
  transition:200ms ease-in-out;
  transform: translateX(-5%);
}
@media screen and (max-width: 768px) {
  
p{
  font-size: 4vw;
}
.Menu button{
  display: inline-flex;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  max-width: 5.5rem;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 0.4rem;
}

button:hover{
  transition:400ms ease-in-out;
  transform: translateY(15%);
  background: linear-gradient(to bottom, hsla(195, 78%, 54%, 0), rgba(123, 244, 123, 0.533));
  box-shadow:  0px 0px 8px -2px #8dff8d,
           -20px 0px 8px -2px #137c99;
}
.Menu:hover > button:not(:hover){
opacity: 0.5;
transition:200ms ease-in-out;
transform: translateY(-5%);
}
}

@media (-webkit-device-pixel-ratio: 1.25) {
p{
  font-size: 1.3rem;
}
}
@media screen and (max-width: 768px) {
  .Bola{
    display: none;
  }
}
  
  



