<div class="grid">
    <div id="item-0" class="first"><p class="titulo">Exemplo1</p><button class="botão"><p>Aperte</p></button>
    <div id="Bloco" class="1"></div>    
    </div>
    <div id="item-1"><p class="titulo">Exemplo2</p><button class="botão"><p>Aperte</p></button>
    <div id="Bloco" class="2"></div>
    </div>
    <div id="item-2"><p class="titulo">Exemplo3</p><button class="botão"><p>Aperte</p></button>
    <div id="Bloco" class="3"></div>
    </div>
    <div id="item-3" class="last"><p class="titulo">Exemplo4</p><button class="botão"><p>Aperte</p></button>
    <div id="Bloco" class="4"></div>
    </div>
</div>
