   .grid{
    margin: 10rem 0 0 0;
    display: grid; 

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
    
    gap: 3px;
    height: 100vw;
    margin-left: 15em;
    transition: 800ms ease-in-out;
    }
    .grid div{
      padding:0 4rem;
      transition: 800ms ease-in-out;
      min-width: 6rem;
    }
    .grid div{
      min-width: none;
    }
    div:hover > button{
      max-width: 100%;
      min-width: 140px;
      opacity: 1;
    }
    div:hover > .titulo{
      opacity: 0;
      width: none;
    }
    .titulo{
      transition: 800ms ease-in-out;
    }
    #item-0:hover, #item-1:hover, #item-2:hover, #item-3:hover{
      background: crimson;
      transition: 800ms ease-in-out;
    }
    
    .grid:has(#item-0:hover) {
      grid-template-columns:  1.5fr 1fr 1fr 1fr;
      transition: 800ms 
    }

    .grid:has(#item-1:hover) {
      grid-template-columns:  1fr 1.5fr 1fr 1fr;
      transition: 800ms ease-in-out;
    }

    .grid:has(#item-2:hover) {
      grid-template-columns:  1fr 1fr 1.5fr 1fr;
      transition: 800ms ease-in-out;
    }

    .grid:has(#item-3:hover) {
      grid-template-columns:   1fr 1fr 1fr 1.5fr;
      transition: 800ms ease-in-out;
    }

    .botão {
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
      transition: 800ms ease-in-out;
      opacity: 0;
    }
    
    .botão:active,
    .botão:hover {
      outline: 0;
    }
    
    @media (min-width: 768px) {
      .botão {
        font-size: 24px;
        min-width: 196px;
      }
    }
    #item-0 {

        background-color: #7575FD; 
        transition: 800ms ease-in-out;
     }
     #item-1 {
        background-color: #7E999D; 
        transition: 800ms ease-in-out;
     }
     #item-2 {    
        background-color: #8F7677; 
        transition: 800ms ease-in-out;
     }
     #item-3 {
      transition: 800ms ease-in-out;
      background-color: #8F59B9; 
        
     }