   
   @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&display=swap');

   .grid{
    margin: 10rem 0 0 0;
    display: grid; 


    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
    
    gap: 8px;
    height: calc(100vh - 40vh);
    margin-left: calc(100vw - 80vw);
    transition: 800ms ease-in-out;
    }
    .grid div{
      padding:0 4rem;
      transition: 800ms ease-in-out;
      min-width: none;
    }
    .first{
      border-radius: 5% 0 0 5%;
    }
    .last{
      border-radius: 0 5% 5% 0;
    }
    div:hover > button{
      opacity: 1;
    }
    div:hover > .titulo{
      opacity: 0;
      width: none;
    }
    div:hover > #Circulo{
      opacity: 1;
      margin-left: 25%;
    }
    .titulo{
      transition: 800ms ease-in-out;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 3rem;
    }
    #Circulo{
      border-radius: 50%;
      position: absolute;
      margin-top: 1em;
      height: 70px;
      width: 70px;
      background-color: #5B42F3;
      padding: 0px;
      opacity: 0;
      transition: 1000ms ease-in-out;
      user-select: none;
    }

    #item-0:hover, #item-1:hover, #item-2:hover, #item-3:hover{
      background: crimson;
      transition: 800ms ease-in-out;
    }
    
    .grid:has(#item-0:hover) {
      grid-template-columns:  1.5fr 1fr 1fr 1fr;
      transition: 800ms 
    }

    .grid:has(#item-1:hover) {
      grid-template-columns:  1fr 1.5fr 1fr 1fr;
      transition: 800ms ease-in-out;
    }

    .grid:has(#item-2:hover) {
      grid-template-columns:  1fr 1fr 1.5fr 1fr;
      transition: 800ms ease-in-out;
    }

    .grid:has(#item-3:hover) {
      grid-template-columns:   1fr 1fr 1fr 1.5fr;
      transition: 800ms ease-in-out;
    }

    .botão {
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family:  'Kanit', sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
      transition: 800ms ease-in-out;
      opacity: 0;
      max-width: 100%;
      min-width: 140px;
    }
    
    .botão:active,
    .botão:hover {
      outline: 0;
    }
    
    #item-0 {

      background: rgba(43, 202, 185, 0.52);
      
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.9px);
      -webkit-backdrop-filter: blur(4.9px);
      border: 1px solid rgba(43, 202, 185, 0.36);
        transition: 800ms ease-in-out;
     }
     #item-1 {
      background: rgba(35, 157, 164, 0.52);
    
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.9px);
      -webkit-backdrop-filter: blur(4.9px);
      border: 1px solid rgba(35, 157, 164, 0.36);
        transition: 800ms ease-in-out;
     }
     #item-2 {    
      background: rgba(29, 114, 142, 0.52);
    
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.9px);
      -webkit-backdrop-filter: blur(4.9px);
      border: 1px solid rgba(29, 114, 142, 0.36);
        transition: 800ms ease-in-out;
     }
     #item-3 {
      transition: 800ms ease-in-out;
      background: rgba(24, 88, 119, 0.52);
    
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.9px);
      -webkit-backdrop-filter: blur(4.9px);
      border: 1px solid rgba(24, 88, 119, 0.36);
        
     }
     .Pula{
      animation: Pula 1s infinite  ease-in-out alternate both;
     }
     .Gira{
      animation: Gira 1.5s infinite ease-in-out;
     }
     #item-2:hover>#Circulo{
      top: 50%;
     }
     .Voando{
      top: 50%;
      animation: slide-out-elliptic-top-bck 3s ease-in-out both infinite;
     }
     #item-3:hover>#Circulo{
      top: 50%;
     }
     .formas{
      animation: formas 4s ease-in-out  infinite;
     }

     @keyframes formas{
      0% {
      height: 70px;
      width: 70px;
      border-radius: 50%;
       
      }
      20% {
        height: 170px;
        width:170px;
        border-radius: 5%;
      }
      40%{
        height: 70px;
        width:70px;
        border-radius: 30%;
      }
      60%{
        height: 170px;
        width:50px;
        border-radius: 10%;
      }
      60%{
        height: 170px;
        width:50px;
        border-radius: 10%;
        transform: rotate(359deg);
      }
      80%{

        height: 50px;
        width:170px;
        border-radius: 10%;
   
      }
      100%{
        height: 70px;
        width: 70px;
        border-radius: 50%;
      }
    }
@keyframes Pula{
  0% {

    top: 25%;
    transform:scaleY(100%);
  }
  50% {

    top: 75%;
    transform:scaleY(65%);
  }
  100%{

    top: 50%;
    transform:scaleY(100%);
  }
}

@keyframes Gira{
            0% { 
            top: 50%;
            transform: rotate(360deg)  
            translateY(-100px) rotate(-360deg); 
            } 
  
            100% { 
            top: 50%;
            transform: rotate(0deg)  
            translateY(-100px) rotate(0deg); 
            } 
}


@keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  50%{
    -webkit-transform: translateY(450px) rotateX(30deg) scale(0);
    transform: translateY(450px) rotateX(30deg) scale(0);
-webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
opacity: 0;
  }
  80%{
    webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
            transform-origin: 50% -1400px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  div:hover > #Circulo{
    opacity: 1;
    margin-left: 15%;
  }
  .botão {
    font-size: 24px;
    min-width: 196px;
  }
  .grid{
    display: block;
  }
  #item-0 {
    min-height: calc(100vh - 20vh);
  }
  #item-1 {
    min-height: calc(100vh - 20vh);
    margin-top: 2rem;
  }
  #item-2 {
    min-height: calc(100vh - 20vh);
    margin-top: 2rem;
  }
  #item-3 {
    min-height: calc(100vh - 20vh);
    margin-top: 2rem;
  }
  .first{
    border-radius: 5% 5% 0 0;
  }
  .last{
    border-radius: 0 0 5% 5%;
  }
}

