   .grid{
    display: grid; 

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    grid-column-gap: 20px;
    height: 100%;
    
    }

    #item-0 {

        background-color: #7575FD; 
        grid-row-start: 1;
        grid-column-start: 4;
     
        grid-row-end: 4;
        grid-column-end: 5;
     }
     #item-1 {
     
        background-color: #7E999D; 
        grid-row-start: 1;
        grid-column-start: 3;
     
        grid-row-end: 4;
        grid-column-end: 4;
        
     }
     #item-2 {
     
        background-color: #8F7677; 
        grid-row-start: 1;
        grid-column-start: 2;
     
        grid-row-end: 4;
        grid-column-end: 3;
        
     }
     #item-3 {
     
        background-color: #8F59B9; 
        grid-row-start: 1;
        grid-column-start: 1;
     
        grid-row-end: 4;
        grid-column-end: 2;
        
     }